{% extends 'base.html' %}
{% block content %}
  <div class="jumbotron">
      <h1><strong>Published Blogs</strong></h1>
      {% for i in post_list %}
      <!--    post_list comes from name of model in small letter + '_list'-->
      <div>
          <h1><a href="{% url 'blog_app:post_details' pk=i.pk %}">{{ i.title }}</a> </h1>
      </div>
            <p>Published on: {{ i.published_date }}</p>
            <p>Posted by <strong>{{ i.author }}</strong></p>
            <p>{{ i.comments.count }} Comments</p>
      {% endfor %}
  </div>
{% endblock %}