{% extends 'base.html' %}
{% block content %}
{% load static %}
    <div class="jumbotron">
    <h1>{{ post.title }}</h1>
    {% if post.published_date %}
        <div><h6>Published on {{ post.published_date }}</h6></div>
        <h6>Posted by {{ post.author }}</h6>
        <p>{{ post.text }}</p>
        {% if user.is_authenticated %}
            <a class="btn btn-primary" href="{% url 'blog_app:add_comment' pk=post.pk %}">Add comment</a>
            {% if post.author == user %}
                <a class="btn btn-primary" href="{% url 'blog_app:post_update' pk=post.pk %}">Update Blog</a>
                <a class="btn btn-primary" href="{% url 'blog_app:post_delete' pk=post.pk %}">Delete Blog</a>
            {% endif %}
        {% endif %}
        <p><strong>{{ post.comments.count }} comments</strong></p>
        {% for i in post.comments.all %}
<!--            'comments' comes from related name of models foregin key-->
                <p><strong>{{ i.created_by }}</strong> at {{ i.created_date }}</p>
                <p>{{ i.text|safe|linebreaks }}
                {% if i.created_by == user %}
                    <a class="btn btn-info" href="{% url 'blog_app:comment_update' pk=i.pk %}">
                        update comment</a>
                    <a class="btn btn-info" href="{% url 'blog_app:comment_delete' pk=i.pk %}">
                        Delete comment </a>
                {% endif %} </p>
<!--                <p>-->
<!--                    {% if i.post.author == user %}-->
<!--                    <a class="btn btn-info" href="{% url 'blog_app:comment_delete' pk=i.pk %}">-->
<!--                        Delete comment</a>-->
<!--                {% endif %} </p>-->

        {% endfor %}
    {% else %}
        <h6>Posted by {{ post.author }}</h6>
        <h6>Not published</h6>
        <p>{{ post.text }}</p>
         <a class="btn btn-primary" href="{% url 'blog_app:post_publish' pk=post.pk %}">Publish</a>
        <a class="btn btn-primary" href="{% url 'blog_app:post_update' pk=post.pk %}">Update Blog</a>
    </div>
    {% endif %}
<!--        <script src="{% static 'blog_app/js/medium-editor.js' %}"></script>-->
{% endblock %}