{% extends 'base.html' %}
{% block content %}
    <div class="jumbotron">
        <h1>{{ post.title }}</h1>
        <h6>Posted by {{ post.author }}</h6>
        <h6>Created on: {{ post.created_date }}</h6>
        <p>{{ post.text }}</p>
        <h6>Not published</h6>
        <a class="btn btn-primary" href="{% url 'blog_app:post_publish' pk=post.pk %}">Publish</a>
        <a class="btn btn-primary" href="{% url 'blog_app:post_update' pk=post.pk %}">Update Blog</a>
        <a class="btn btn-primary" href="{% url 'blog_app:post_delete' pk=post.pk %}">Delete Blog</a>
    </div>
{% endblock %}